<h1>
  Question id:
  <%= @question.id %>
</h1>

<p>
  Body:
  <%= @question.body %>
</p>

<h1> Answers </h1>

<%= link_to 'Create new answer', new_question_answer_path(@question) %>

<ol>
  <%= render @question.answers %>
</ol>

<p>
  <%= link_to 'Back to test', test_path(@question.test.id) %>
</p>