<div class="row justify-content-center">
  <div class="col col-md-4 mt-3">
    <h2>Sign up</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <p>
        <%= f.label :first_name %>
        <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name", class: 'form-control', placeholder: 'Enter First Name' %>
      </p>

      <p>
        <%= f.label :last_name %>
        <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name", class: 'form-control', placeholder: 'Enter Last Name' %>
      </p>

      <p>
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control', placeholder: 'Enter email' %>
      </p>

      <p>
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %>
        <%= f.password_field :password, autocomplete: "new-password", class: 'form-control', placeholder: 'Enter password' %>
      </p>

      <p>
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control', placeholder: 'Confirm password' %>
      </p>

      <%= f.submit "Sign up", class: 'btn btn-primary' %>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>