<nav class="navbar navbar-light bg-secondary">
  <%= link_to "testGuru", admin_root_path, class: 'navbar-brand logo'%>



  <span class="navbar-text">

    Welcome, <b><%= current_user.first_name %></b> Guru |
    <div class="btn btn-warning">
      <%= link_to " User panel", root_path%> |
      <%= link_to "Gists", admin_gists_path %> |
      <%= link_to "Awards", admin_badges_path %> |
      <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
    </div>
  </span>
</nav>