<h1 class="text"><%= t('.header') %></h1>

<p>
  <% if @passage_test.success? %>
    <p class="text-success">
      <b><%= t('.win') %></b>
       <%= t('.result', result: @passage_test.result) %>
    </p>
  <% else %>
    <p class="text-danger">
      <b><%= t('.fail') %></b>
      <%= t('.result', result: @passage_test.result) %>
    </p>
  <% end %>
</p>

<%= link_to t('.back'), tests_path, class: 'btn btn-warning'  %>
