<%= form_with model: [:admin, @test, @question], local: true do |form| %>
  <%= render 'shared/errors', resource: @question %>
  <p>
    <%= form.label :body  %><br>
    <%= form.text_field :body %>
  </p><br>

  <p>
    <%= form.label 'For test:' %>
    <%= form.collection_select :test_id, Test.all, :id, :title %>
  </p>

  <p><%= form.submit %></p>

  <p><%= link_to 'Back to test', admin_test_path(@question.test.id) %></p>

<% end %>