<h1>
  Question id:
  <%= @question.id %>
</h1>

<p>
  Body:
  <%= @question.body %>
</p>

<h1> Answers </h1>

<%= link_to 'Create new answer', new_admin_question_answer_path(@question) %>

<table>
  <thead>
  <tr>
    <th colspan="3"></th>
  </tr>
  </thead>

  <%= render @question.answers %>
</table>
<p>
  <%= link_to 'Back to test', admin_test_path(@question.test.id) %>
</p>