<h2>
  <%= t('.question_id', id: @question.id) %>
</h2>

<p>
  <%= t('.question_body', body: @question.body) %>
</p>

<h1> <%= t('.questions') %> </h1>

<p>
<%= link_to t('.create_answer'), new_admin_question_answer_path(@question),class: 'btn btn-info' %>
</p>

<table class="table table-striped table-dark text-center">

  <tr>
    <th>Body</th>
    <th colspan="3">Action</th>
  </tr>

  <%= render @question.answers %>

</table>

<p>
  <%= link_to t('.back_to_test'), admin_test_path(@question.test.id), class: 'btn btn-primary' %>
</p>