<h1>
  <%= t('.question_id', id: @question.id) %>
</h1>

<p>
  <%= t('.question_body', body: @question.body) %>
</p>

<h1> <%= t('.questions') %> </h1>

<p>
<%= link_to t('.create_answer'), new_admin_question_answer_path(@question) %>
</p>

<table>
  <thead>
  <tr>
    <th colspan="3"></th>
  </tr>
  </thead>

  <%= render @question.answers %>

</table>

<p>
  <%= link_to t('.back_to_test'), admin_test_path(@question.test.id) %>
</p>