<h1><%= t('.tests_header') %></h1>

<%= render 'shared/errors', resource: @test %>

<table class="table table-striped table-dark text-center">
  <thead>
    <tr>
      <th><%= t('.test_id') %></th>
      <th><%= t('.title') %></th>
      <th><%= t('.level') %></th>
      <th><%= t('.question_count') %></th>
      <th colspan="3"><%= t('.action') %></th>
    </tr>
  </thead>

  <%= render @tests %>
</table>

<%= link_to t('.create'), new_admin_test_path, class: 'btn btn-success' %>

