<h1>
  <%= t('.header', title: @test.title)%>
</h1>

<p>
  <%= link_to t('.create'), new_admin_test_question_path(@test.id), class: 'btn btn-info'  %>
</p>

<table class="table table-striped table-dark text-center">
  <tr>
    <th><%= t('.number') %></th>
    <th><%= t('.body') %></th>
    <th colspan="3"><%= t('.actions') %></th>
  </tr>

<%= render @test.questions %>

</table>

<p>
  <% if @test.has_timer? %>
  Timer: <%= @test.timer %> min.
  <% end %>
</p>

<p>
  <%= link_to t('.back'), admin_tests_path, class: 'btn btn-primary' %>
</p>