<h1> <%= t('.tests_header') %></h1>

<table>
  <thead>
    <tr>
      <th><%= t('.test_id') %></th>
      <th><%= t('.title') %></th>
      <th><%= t('.level') %></th>
      <th><%= t('.question_count') %></th>
      <th><%= t('.action') %></th>
    </tr>
  </thead>

  <%= render @tests %>
</table>

