<h1 class="text"> <%= t('.tests_header') %></h1>

<table class="table table-striped table-dark text-center">
  <thead>
    <tr>
      <th><%= t('.test_id') %></th>
      <th><%= t('.title') %></th>
      <th><%= t('.level') %></th>
      <th><%= t('.question_count') %></th>
      <th><%= t('.action') %></th>
    </tr>
  </thead>

  <%= render @tests %>
</table>

