<nav class="navbar navbar-light bg-success">
  <%= link_to "testGuru", root_path, class: 'navbar-brand logo' %>

  <span class="navbar-text ">
    <% if user_signed_in? %>
      <b> Welcome, <%= current_user.email %> <%= link_to 'Guru', root_path %></b> |
      <div class='btn btn-warning'>
        <% if current_user.admin? %>
          <%= link_to 'Admin panel', admin_root_path %> |
      <%end %>
        <%= link_to 'Feedback ', new_feedback_path %> |
        <%= link_to 'Log Out', destroy_user_session_path, method: :delete %>
      </div>
    <%else %>
      <%= link_to 'Sign Up', new_user_registration_path %> |
      <%= link_to 'Log In', new_user_session_path %>
    <% end %>
  </span>
</nav>